third_party/
nanoGPT/
mistral/
llama/
transformer_lens_101/
TransformerLensCode/
mcd_pp/
debug/
*.pyc
.ipynb_checkpoints/
*attn_grid*
*.log
data/mean_cache*
per_neuron_*
mlp_input_*
*.pt
*.png
.vscode
data/pythia*
data/old
figs
old/
